.expenseMain {
  width: 100%;
  height: 100vh;
  background: #f5f3f4;
  overflow-y: scroll;
  position: relative;
}
.expenseSection {
  width: 100%;
  height: 80vh;
  padding: 20px 15px;
  overflow-y: scroll;
}
.expenseMainCard {
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  box-shadow: 3px 3px #d3d3d3;
  margin:10px 0px 20px;
  position: relative;
  z-index: 1;
}
.expenseFilterPage{
  width:100%;
  height:100%;
  z-index: 10000;
  position: fixed;
  top:0;
  left:0;
  background-color: white;
}
.filterSection{
  border:1px solid #161a1d;
  border-radius: 30px;
  width:auto;
  padding:5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterSection img{
  width:15px;
  height:15px;
  margin-right: 10px;
}
.filterSelectionUnit{
  width:100%;
  height:60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.filterSelectionUnit p{
  font-size: 16px;
  font-weight: bold;
}
.filterContainer{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height:80vh;
}
.filterHeader{
  width:100%;
  height:50px;
  padding:10px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.filterLeft{
  width:60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.filterLeft img{
  height: 16px;
  width:16px;
  margin-right: 10px;
}
.filterLeft p{
  font-size: 16px;
  font-weight: bold;
}
.filterRight{
  width:40%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.filterSelection{
  width:40%;
  height:90%;
  background: lightgray;
}
.filterSelectionUnit{
  width:100%;
  height:40px;
  padding:0px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.filterSelected{
  width:100%;
  min-height:40px;
  padding:0px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
}
.filterSelected p{
  font-weight: bold;
  font-size: 18px;
}
.filterResult{
  height:90%;
  width:60%;
  padding:20px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.selectionUnit{
  width:100%;
  margin-bottom: 25px;
}
.selectionUnit label{
  font-size: 16px;
  font-weight: bold;
}
.selectionUnit input,select{
  width:100%;
  border:1px solid #161a1d;
  padding:10px 15px;
  border-radius: 20px;
  outline: none;
  margin:5px 0px;
}
.filterApply{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding:10px 15px;
}
.filterApply button{
  background: #161a1d;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding:10px;
}
.expenseMainTop{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:flex-end;
}
.expenseTop {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #f5f3f4;
}
.expenseUnit {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.expenseType {
  width: 60%;
}
.expenseType p {
  font-weight: bold;
  font-size: 17px;
  color:#a4161a;
}
.expenseAmount {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0px;
}
.expenseAmount p {
  font-weight: bold;
  font-size: 17px;
  color: #a4161a;
}
.expenseAmountPay {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.expenseAmountPay p {
  font-size: 12px;
}
.expenseBottom {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.paid {
  width: 40%;
}
.mid {
  display: flex;
  justify-content: flex-end;
}
.paid p {
  font-size: 14px;
}
.expenseIconHolder{
  width:20%;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.expenseOpen{
  height:25px;
  width: 25px;
}
.expenceBill{
  width:100%;
  margin-top: 20px;
  min-height: 30px;
}
.expenceBill img{
  width:100%;
  height:auto;
  border-radius: 10px;;
}
.expenseDuration {
  width: 50%;
  font-size: 15px;
  font-weight: bold;
}
.expenseMonth {
  width: 50%;
  display: flex;
  justify-content: center;
}
.expenseBill{
  width: 100%;
  height: 100px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  position: relative;
}
.expenseMonth select{
  width:100%;
  outline: none;
  background: transparent;
  text-align: center;
}
.expenseTracker {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trackerUnit {
  width: 50%;
  padding: 10px 10px 5px;
}
.trackerTop {
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.trackerTop p{
  color:#a4161a;
}
.trackerTitle {
  width: 70%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.trackerTitle img {
  width: 24px;
  height: 24px;
  margin-left: 30px;
}
.expenseButton {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4161a;
  color: #fff;
  margin: 20px 0px;
  border-radius: 10px;
}
.expenseDetailButton {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4161a;
  color: #fff;
  margin: 20px 15px;
  border-radius: 10px;
}

/*====================================
=====================================*/
.pageHeader {
  width: 100%;
  padding: 15px 20px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bold;
  color: #161a1d;
}
.pageHeader img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.expenseHolder {
  width: 100%;
  padding: 10px 15px;
}
.expenseAddSection {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  color: #b1a7a6;

  background-color: #fff;
}
.expenseAddSection select{
  width:100%;
  background: transparent;
}
.paymentMode {
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
}
.paymentHolder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}
.paymentUnits {
  width: 25%;
  padding: 5px;
  font-size: 14px;
  color: #161a1d;
  text-align: center;
}
.paymentUnits img {
  width: 24px;
  height: 24px;
}
.paymentActive {
  border: 1px solid #a4161a;
  border-radius: 10px;
  background: #fff;
}
/*====================================
=====================================*/
.categoryMain {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 100001;
  background-color: rgba(0, 0, 0, 0.3);
}
.categoryCross {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.categoryCross img {
  width: 40px;
  height: 40px;
}
.categoryContainer {
  width: 100%;
  height: 90vh;
  padding-bottom: 140px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.categoryUnitsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.categoryTitle {
  padding: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #161a1d;
}
.categorySection {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.categoryUnit {
  width: 33%;
  padding: 10px;
  font-size: 12px;
  color: #161a1d;
  margin: 10px 0px;
  text-align: center;
}
.categoryUnit img {
  width: 32px;
  height: 32px;
}
