.mainEntry {
  width: 100%;
  height: 100vh;
  background-color: #f5f3f4;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainEntryContainer {
  width: 100%;
}
.entryTop {
  width: 100%;
}
.entryTitle {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #161a1d;
}
.entryDescription {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #b1a7a6;
}
.entryData {
  width: 100%;
  margin: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.entryDataUnit {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  padding: 5px 10px;
  margin: 5px 0px;
}
.entryDataUnit input {
  width: 100%;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  transition: border-color 0.8s ease, box-shadow 0.6s ease; /* Transition for smooth focus change */
}
.entryDataUnit input:focus {
  border: 1px solid #e5383b; /* Highlight border color */
  box-shadow: 0 0 0 3px rgba(229, 56, 59, 0.25); /* Matching shadow color with reduced opacity */
}
.forget{
width:80%;
display: flex;
justify-content: flex-end;
margin-top: 5px;
margin-bottom: -15px;
font-size: 14px;
font-weight: bold;
color: #e5383b;
}
.entryDataButton {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 30px 0px 0px;
}
.entryDataButton button {
  width: 100%;
  height: 50px;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #e5383b;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entryDataButton button:disabled {
  cursor: not-allowed;
}
.loader {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.entryDataButton p {
  font-size: 12px;
  margin-top: 15px;
}
.entryDataButton .register {
  color: #e5383b;
  margin-left: 5px;
  cursor: pointer;
}
