.studentMain {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f5f3f4;
}

.stuHeader {
  width: 100%;
  height: 10vh;
  background: #fff;
  box-shadow: 0 0 3px #b1a7a6;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
}
.stuHeaderIcon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stuHeaderIcon img {
  width: 40px;
  height: 40px;
}
.stuHeaderName {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px;
  font-size: 15px;
  font-weight: bold;
}
.stuHeaderNotification {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stuHeaderNotification img {
  width: 30px;
  height: 30px;
}

.stuFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  box-shadow: 0 0 3px #b1a7a6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stuFooterUnit {
  width: 22%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.stuFooterUnit img {
  height: 23px;
  width: 23px;
}
.stuFooterUnitText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.stuContainer {
  width: 100%;
  height: 80vh;
  margin-top: 10vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px 0px;
}
/*=======================================*/
.stuMainUnit {
  width: 100%;
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 25px;
}
.stuMainHeader {
  width: 100%;
  padding: 5px 10px 10px;
  font-size: 15px;
  font-weight: bold;
}
.stuMainSection
/*=======================================*/
/*========================================*/
.stuAmountCard {
  width: 45%;
  min-height: 70px;
  border-radius: 15px;
  border: 1px solid #b1a7a6;
}
.stuAmountTitle {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px 5px;
}
.stuAmountDetails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1px 10px;
}
.stuAmountType {
  width: 50%;
  font-size: 13px;
  font-weight: bold;
}
.stuAmountImg {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stuAmountImg img {
  width: 20px;
  height: 20px;
}
.stuAmountPay {
  bottom: 0px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #3b385a;
}
/*======================================*/
.hostelCard {
  width: 95%;
  padding: 10px 15px;
  border-radius: 15px;
}
.hostelCardHeader {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
}
.hostelCardSubHeader {
  width: 80%;
  font-weight: bold;
  font-size: 10px;
}
.hostelCardBottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.hostelCardNext {
  width: 20%;
  font-size: 12px;
}
.hostelCardNext img {
  height: 20px;
  width: 20px;
}
.hostelCardImage {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hostelCardImage img {
  width: 120px;
  height: 100px;
}

/*======================================*/
.stuMenuSection {
  width: 100%;
  padding: 10px 5px;
}
.stuMenuCard {
  width: 94%;
  margin-left: 3%;
  min-height: 60px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 1px #b1a7a6;
}
.stuMenuType {
  width: 100%;
  padding: 5px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stuMenuTypeName {
  width: 60%;
  font-size: 16px;
  font-weight: bold;
}
.stuMenuTypeName {
  width: 60%;
  font-size: 16px;
  font-weight: bold;
}
.stuMenuDetails {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.stuMenuText {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}
.stuMenuImage {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stuMenuImage img {
  width: 70px;
  height: 70px;
}
/*======================================*/
/*=======================================*/
.stuComplaint {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.complaintImg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.complaintUnitCard {
  width: 44%;
  padding: 40px 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px #b1a7a6;
  background-color: #fff;
}
.complaintUnitCard img {
  width: 100px;
  height: 70px;
}
.complaintCardTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.complaintCardDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #b1a7a6;
}
.complaintHolderCard {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px #b1a7a6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.complaintHolderIcon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.complaintHolderIcon img {
  width: 30px;
  height: 30px;
}
.complaintHolderText {
  width: 90%;
  padding: 2px 10px 2px 20px;
}
.complaintHolderTextHeader {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #3b385a;
}
.complaintHolderTextSub {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #b1a7a6;
}
.complaintFinalCard {
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.complaintFinalHeader {
  width: 100%;
  padding: 10px 5px;
}
.complaintFinalHeader label {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 3px;
}
.complaintFinalHeader input {
  width: 100%;
  border: 1px solid #b1a7a6;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
}
.complaintFinalHeader textarea {
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #b1a7a6;
}
.complaintFinalHeader button {
  width: 100%;
  padding: 10px 10px;
  background-color: #3b385a;
  color: #fff;
  border-radius: 10px;
}
/*=======================================*/
