.getStarted {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 10px 20px;
  background-color: #f5f3f4;
}
.getStartedImage {
  width: 100%;
  height: 55vh;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}
.getStartedImage img {
  width: 100%;
  height: 100%;
}

.topSection {
  width: 100%;
  margin-top: 10px;
}
.topText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px;
}
.topText p {
  font-size: 20px;
  color: #161a1d;
  font-weight: bolder;
  z-index: 100;
}
.topDescription {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.topDescription p {
  font-size: 12px;
  color: #b1a7a6;
  font-weight: bold;
  z-index: 100;
}
.buttonSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.buttonSection button {
  width: 120px;
  padding: 10px 20px;
  margin: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.buttonSign {
  background-color: #e5383b;
  color: #fff;
}
.buttonLogin {
  background-color: #fff;
  color: #e5383b;
  border: 1px solid #e5383b;
}
