.header {
  width: 100%;
  height: 60px;
  background: #e5383b;
  padding: 5px 10px;
}
.headerContainer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.headerTitle {
  width: 55%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headerNotifications {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.headerNotifications img {
  height: 24px;
  width: 24px;
}

.headerNotiCount{
  font-size: 10px;
  border-radius: 50%;
  width:15px;
  height:15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color:#e5383b;
  position: absolute;
  top:5px;
  left:30px;
}
.headerSettings {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.headerSettings img {
  height: 24px;
  width: 24px;
}
.studentNotificationsIcon{
  width:25px;
  height:25px;
  border-radius:50%;
  background:red;
  position:absolute;
  left:25px;
  top:-10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
}