.tenant {
  width: 100%;
  height: 100vh;
  position: relative;
}
.tenantHolder {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  margin-bottom: 100px;
  padding: 10px 15px 100px;
  padding-bottom: 100px;
  background: #f5f3f4;
  position: relative;
}
.tenantCard {
  width: 90%;
  margin: 10px 5%;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px #fff;
}
.fab {
  position: fixed;
  bottom: 100px;
  right: 30px;
  height: 42px;
  width: 42px;
}
.cardTop {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardName {
  width: 70%;
  font-size: 15px;
  font-weight: bold;
  color: #a4161a;
}
.cardRoom {
  width: 30%;
  text-align: center;
  font-size: 13px;
  color: #b1a7a6;
  font-weight: bold;
}
.cardMiddle {
  padding: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cardPhone {
  width: 50%;
  font-size: 13px;
  color: #161a1d;
}
.cardJoin {
  width: 50%;
  font-size: 13px;
  color: #161a1d;
  display: flex;
  justify-content: flex-end;
}
.cardDues {
  width: 100%;
  padding: 5px 0px;
}
.dueTitle {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #a4161a;
}
.dueTitle img {
  position: absolute;
  right: 20px;
  height: 20px;
  width: 20px;
}
.duesHolder {
  width: 100%;
}
.duesSection {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.duesName {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.duesValue {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.tenantAbsent {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.absentBox {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}
.absentBox button {
  width: 60%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #a4161a;
}
.tenantMain {
  width: 100%;
  height: 100vh;
  position: relative;
}
.tenantSection {
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  padding: 10px 0px;
  background-color: #fff;
}

.tenantInput {
  width: 90%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  color: #b1a7a6;
  margin: 0px 5%;
  margin-bottom: 15px;
}
.tenantAddHalf {
  width: 90%;
  padding: 8px 0px;
  margin: 0px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tenantAddLeftSection {
  width: 48%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  color: #b1a7a6;
  margin-bottom: 15px;
}
.tenantAddRightSection {
  width: 48%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  color: #b1a7a6;
  margin-bottom: 15px;
}
input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.tenantInput select {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.tenantBalanceHeader {
  width: 90%;
  margin: 0px 5%;
  font-weight: bold;
  font-size: 14px;
  color: #161a1d;
}
.tenantBalanceSection {
  width: 90%;
  margin: 0px 5% 50px;
  padding: 5px 0px;
}
.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.sectionUnitHeader {
  width: 30%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #a4161a;
}
.sectionUnit {
  width: 30%;
  text-align: center;
  font-size: 12px;
}
.sectionUnit .range {
  font-size: 10px;
  color: #b1a7a6;
}
.unitMain {
  font-size: 13px;
  font-weight: bold;
}
.collected {
  display: flex;
  align-items: center;
  justify-content: center;
}
.collected img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.tenantButton {
  width: 100%;
}
.tenantButton button {
  width: 100%;
  padding: 15px 10px;
  background: #a4161a;
  color: #fff;
  margin: 10px 0px;
  border-radius: 25px;
}
.categoryMain {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 100001;
  background-color: rgba(0, 0, 0, 0.3);
}
.categoryCross {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
.categoryCross img {
  width: 40px;
  height: 40px;
}
.categoryContainer {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.categoryUnitsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.passbookTop {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 15px;
  background: #fff;
  z-index: 1000000;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
}
.passTopUnit {
  width: 100px;
  height: 80px;
  border: 1px solid #d3d3d3;
  padding: 5px;
  border-radius: 5px;
}
.passUnitTop {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}
.passBottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.passBottomName {
  width: 50%;
  font-size: 11px;
  color: #161a1d;
}
.passBottomImg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.passBottomImg img {
  width: 20px;
  height: 20px;
}
.passbookBody {
  position: relative;
  width: 100%;

  top: 110px;
}
