.highlights {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  background-color: #edf6f9;
}
.highlightTitle {
  width: 100%;
  font-size: 18px;
  color: #83c5be;
  font-weight: bold;
  margin-bottom: 15px;
}
.highlightUnit {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid red;
}
