.quick {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  margin: 20px 0px;
  background-color: #fff;
}
.quickTitle {
  width: 100%;
  font-size: 14px;
  color: #a4161a;
  font-weight: bold;
  margin-bottom: 15px;
}
.quickContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.quickUnitContainer {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.quickUnit {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #b1a7a6;
  margin: 10px 0px;
}
.quickUnitText {
  font-size: 12px;
}
